.header{
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 50px;
	text-shadow: 10px 10px 10px red;
}
.container{
	margin: auto;
	position: relative;
	margin-top: 10px;
	width: 50%;
}
.container::after{
	content: '';
	position: absolute;
	width: 70%;
	left: 15%;
	height: 100px;
	z-index: -1;
	bottom: 0;
	box-shadow: 0 0 20px gray;

}
.footer{
	margin: auto;
	margin-top: 20px;
	text-align: center;
}